<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <script src="{% static "js/custom.js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" %}">
        </script>
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static "css/stylecopy.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/hero-slider.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/owl-carouse1.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>


<body>
 
    <div class="wrap">
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <button id="primary-nav-button" type="button">Menu</button>
                       <a href="/index"><div class="logo">
                            <img src="{% static "media/carlogo.png" %}" alt="Venue Logo">
                        </div></a>
                        <nav id="primary-nav" class="dropdown cf">
                            <ul class="dropdown menu">
                                <li class='active'><a href="/index">Home</a></li>

                                <li class='active'><a href="/product_listing">Cars</a></li>

                              
                                <li class='active'><a href="/contactusshow">Contact Us</a></li>
                            </ul>
                        </nav><!-- / #primary-nav -->
                    </div>
                </div>
            </div>
        </header>
    </div>
      
    {% for data in result %}
    <section class="banner banner-secondary" id="top" style="background-image: url('{% static "media/blue1.jpg" %}')";>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="banner-caption">
                        <div class="line-dec"></div>
                        <h2>Car details - {{data.1}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
                
    <main>
        <section class="featured-places">
          <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you are interested to purchasing this car Kindly <a href="/userlogin">Login</a></h5>
            <div class="container">
               <div class="row">
                  <div class="col-md-6 col-xs-12">
                    <div>
                      <img src="{% static data.10 %}" alt="">
                                   </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                           <img src="{% static "media/product4.jpg" %}" alt="">
                                  
                             </div>
                      </div>
                      <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                            <img src="{% static "media/product5.jpg" %}" alt="">
                                  
                             </div>
                      </div>
                      <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                          <img src="{% static "media/product6.jpg" %}" alt="">
                                     
                        </div>
                      </div>

                      <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                           <img src="{% static "media/product3.jpg" %}" alt="">
                                  
                             </div>
                      </div>
                      <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                           <img src="{% static "media/product4.jpg" %}" alt="">
                                  
                             </div>
                      </div>
                      <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                            <img src="{% static "media/product5.jpg" %}" alt="">
                                  
                        </div>
                      </div>

                      <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                          <img src="{% static "media/product3.jpg" %}" alt="">
                                  
                            </div>
                      </div>
                      <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                            <img src="{% static "media/product5.jpg" %}" alt="">
                                                            
                            </div>
                      </div>
                      <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                           <img src="{% static "media/product4.jpg" %}" alt="">
                                  
                             </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-xs-12">
                    <form action="#" method="post" class="form">
                      <h2><small><del></del></small><strong class="text-primary">Rs. {{data.2}}/-</strong></h2>

                      <br> 

                      <ul class="list-group list-group-flush">
                       <li class="list-group-item">
                            <div class="clearfix">
                                 <span class="pull-left">Name</span>

                                 <strong class="pull-right">{{data.1}}</strong>
                            </div>
                       </li>
                       <li class="list-group-item">
                            <div class="clearfix">
                                 <span class="pull-left">Condition</span>

                                 <strong class="pull-right">{{data.8}}</strong>
                            </div>
                       </li>

                      <li class="list-group-item">
                            <div class="clearfix">
                                 <span class="pull-left">Location</span>

                                 <strong class="pull-right">{{data.5}}</strong>
                            </div>
                       </li>

                       <li class="list-group-item">
                            <div class="clearfix">
                                 <span class="pull-left"> Model</span>

                                 <strong class="pull-right">{{data.6}}</strong>
                            </div>
                       </li>

                       <li class="list-group-item">
                            <div class="clearfix">
                                 <span class="pull-left">Manufacturing date</span>

                                 <strong class="pull-right">{{data.7}}</strong>
                            </div>
                       </li>

                       <li class="list-group-item">
                            <div class="clearfix">
                                 <span class="pull-left">Description</span>

                                 <strong class="pull-right">{{data.3}}</strong>
                            </div>
                       </li>

                       <li class="list-group-item">
                            <div class="clearfix">
                                 <span class="pull-left">Color</span>

                                 <strong class="pull-right">{{data.11}}</strong>
                            </div>
                       </li>
                       <li class="list-group-item">
                            <div class="clearfix">
                                 <span class="pull-left">Video</span>

                                 <strong class="pull-right">{{data.9}}</strong>
                            </div>
                       </li>
                      <li class="list-group-item">
                            <div class="clearfix">
                                 <span class="pull-left">Url</span>

                                 <strong class="pull-right">{{data.13}}</strong>
                            </div>
                       </li>

                    </ul>


                      <div class="accordions">
                            <ul class="accordion">
                                <li>
                                    <a class="accordion-trigger">Vehicle Extras</a>
                                    
                                    <div class="accordion-content">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                                <p>ABS</p>
                                            </div>

                                            <div class="col-sm-6 col-xs-12">
                                                <p>Leather seats</p>
                                            </div>

                                            <div class="col-sm-6 col-xs-12">
                                                <p>Power Assisted Steering</p>
                                            </div>

                                            <div class="col-sm-6 col-xs-12">
                                                <p>Electric heated seats</p>
                                            </div>

                                            <div class="col-sm-6 col-xs-12">
                                                <p>New HU and AU</p>
                                            </div>

                                            <div class="col-sm-6 col-xs-12">
                                                <p>Xenon headlights</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a class="accordion-trigger">Vehicle Description</a>
                                    <div class="accordion-content">
                                        <p>- Colour coded bumpers<br>- Tinted glass<br>- Immobiliser<br>- Central locking - remote<br>- Passenger airbag<br>- Electric windows<br>- Rear head rests<br>- Radio<br>- CD player<br>- Ideal first car<br>- Warranty<br>- High level brake light<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                </li>
                                <li>
                                    <a class="accordion-trigger">Contact Details</a>

                                    <div class="accordion-content">

                                      <p>
                                        <span>Name</span>

                                        <br>

                                        <strong>John Smith</strong>

                                    </p>

                                    <p>
                                        <span>Phone</span>

                                        <br>
                                        
                                        <strong>
                                          <a href="tel:123-456-789">123-456-789</a>
                                        </strong>
                                    </p>

                                    <p>
                                        <span>Mobile phone</span>

                                        <br>
                                        
                                        <strong>
                                          <a href="tel:456789123">456789123</a>
                                        </strong>
                                    </p>

                                    <p>

                                        <span>Email</span>

                                        <br>
                                        
                                        <strong>
                                          <a href="mailto:john@carsales.com">john@carsales.com</a>
                                        </strong>
                                      </p>
                                    </div>
                                </li>
                            </ul> <!-- / accordion -->
                        </div>
                    </form>
                  </div>
                </div>
            </div>
        </section>
    </main>
    {% endfor %}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="about-veno">
                        <div class="logo">
                           <img src="{% static "media/carlogo.png" %}" alt=""></div>
                        <p>Online car portal</p>
                        <ul class="social-icons">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="useful-links">
                        <div class="footer-heading">
                            <h4>Useful Links</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li><a href="/index"><i class="fa fa-stop"></i>Home</a></li>
                                    <li><a href="about.html"><i class="fa fa-stop"></i>About</a></li>
                                    <li><a href="team.html"><i class="fa fa-stop"></i>Team</a></li>
                                    <li><a href="contact.html"><i class="fa fa-stop"></i>Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li><a href="faq.html"><i class="fa fa-stop"></i>FAQ</a></li>
                                    <li><a href="terms.html"><i class="fa fa-stop"></i>Terms</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contact-info">
                        <div class="footer-heading">
                            <h4>Contact Information</h4>
                        </div>
                        <p><i class="fa fa-map-marker"></i> 212 Gomatinagar, ABC</p>
                        <ul>
                            <li><span>Phone:</span><a href="#">+1 333 4040 5566</a></li>
                            <li><span>Email:</span><a href="#">contact@company.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="sub-footer">
        <p>Copyright © 2020 onlinecarportal: <a href="https://www.carportal.com/">carportal.com</a></p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>
    
    <script src="js/datepicker.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>
</html>